<div class="main">
  <div class="ui four top attached steps noprint">
    <div class="step cart">
      <i class="shopping cart icon txt-color"></i>
      <div class="content">
        <div class="title txt-color"> Shopping Cart</div>
      </div>
    </div>
    <div class="step shipping">
      <i class="shipping fast icon txt-color"></i>
      <div class="content">
        <div class="title txt-color">Shipping</div>
      </div>
    </div>
    <div class="step payment">
      <i class="credit card icon txt-color"></i>
      <div class="content">
        <div class="title txt-color">Payment</div>
      </div>
    </div>
    <div class="step finish">
      <i class="print icon txt-color"></i>
      <div class="content">
        <div class="title txt-color"> Booking confirm</div>
      </div>
    </div>
  </div>
  <div class="ui attached segment spacy light-green-bg">

    <router-outlet></router-outlet>
  </div>
</div>