<div class="ui stackable menu">
  <div class="item">
    <img src="../assets/images/logo.png" class="ui small centered image">
  </div>
  <a class="item ui header txt-sub-color" routerLink="./">
    <i class="list icon txt-color"></i>Products List
  </a>
  <a class="item ui header txt-sub-color" routerLink="./insert-product">
    <i class="plus icon txt-color"></i>Add New Product
  </a>
  <div class="right menu">
    <div class="item ui header txt-color">
      <i class="user icon"></i>
      {{user.data.first_name}} {{user.data.last_name}}&nbsp;&nbsp;
    </div>
    <a class="item ui header txt-sub-color" (click)=logout()>
      <i class="sign out icon txt-color"></i>Logout&nbsp;&nbsp;
    </a>
  </div>
</div>

<router-outlet></router-outlet>
